body {
    width: 1070px;
    height: 676px;
    display: block;
    margin: 0;
}
.mainContent {
    width: 100%;
    height: 100%;
    position: relative;
}
.mainContent:after {
    display: table;
    content: " ";
    clear: both;
}
#backgroundCanvas {
    position: absolute;
    top: 101px;
    right: 0;
}
#nhanvatCanvas {
    position: absolute;
    top: 83px;
    left: 0;
    animation:ticker linear 4s infinite forwards;
    -webkit-animation:ticker linear 4s infinite forwards;
    will-change: transform;
    z-index: 2;
}

@-webkit-keyframes ticker {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes ticker {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

#logoBackgroundCanvas {
    position: absolute;
    top: 31px;
    left: 466px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
#logoCanvas {
    position: absolute;
    top: 51px;
    left: 608px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
#closeBtnWrapper {
    position: absolute;
    right: 4px;
    top: 106px;
    width: 30px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
}
#closeBtnCanvas {
    width: 19px;
    height: 21px;
}
#minimizeBtnWrapper {
    position: absolute;
    top: 106px;
    right: 35px;
    width: 30px;
    height: 23px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3px;
    box-sizing: border-box;
    transition: all 300ms;
}
#minimizeBtnCanvas {
    width: 23px;
    height: 7px;
}
#closeBtnWrapper:hover, #minimizeBtnWrapper:hover {
    background-color: #aea9f4;
    transition: background 300ms;
}
#formWrapper {
    position: absolute;
    top: 177px;
    right: 65px;
    z-index: 3;
    width: 389px;
    height: 426px;
    padding: 26px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formWrapper .buttonTabs {
    display: flex;
    /*margin: auto;*/
    width: 247px;
    height: 32px;
    justify-content: space-between;
    margin-left: 56px;
}
#formWrapper .buttonTabs .button {
    background-color: rgba(90, 67, 236, .7);
    transition: all 300ms;
    width: 118px;
    height: 25px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    font-family: "Myriad Pro";
    font-style: italic;
    font-weight: 300;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 1px;
    font-size: 18px;
}
#formWrapper .buttonTabs .button.active {
    background-color: transparent;
    box-shadow: 0px 0px 4px 1px rgba(255,255,255,.8);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(255,255,255,.8);
    -moz-box-shadow: 0px 0px 4px 1px rgba(255,255,255,.8);
}
.tabs {
    width: 100%;
    margin-top: 23px;
    padding: 0 13px;
    box-sizing: border-box;
}
.tab {
    width: 100%;
    text-align: center;
}
.tab .form-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#tabRegister .form-group {
    margin-bottom: 15px;
}
.tab .form-group label {
    width: 100px;
    font-size: 18px;
    font-style: italic;
    color: rgb(255, 204, 0);
    text-align: left;
    font-family: "Myriad Pro";
}
.tab .form-group input {
    flex: 1;
    border-radius: 5px;
    background-color: rgba(255, 204, 51, .7);
    font-family: "Myriad Pro";
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 5px 10px;
}
.tab .form-group input:focus {
    box-shadow: 0px 0px 4px 2px rgba(255,255,255,.75);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(255,255,255,.75);
    -moz-box-shadow: 0px 0px 4px 2px rgba(255,255,255,.75);
}
.frmButton {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0;
    width: 147px;
    height: 40px;
    border: none;
    outline: none;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #a05223;
    font-family: "Myriad Pro";
    font-size: 23.64px;
    color: white;
    font-weight: 700;
    background-color: transparent;
    user-select: none;
    display: block;
    cursor: pointer;
    margin: auto;
}
.frmButton.mousedown {
    background-position-x: 100%;
}
.notice {
    margin-top: 16px;
}
.notice p {
    margin-top: 0;
    margin-bottom: 0;
    color: red;
    font-family: "Myriad Pro";
    font-size: 14px;
    text-align: left;
}
#forgotPass {
    margin-bottom: 0;
    text-align: right;
    font-family: "Myriad Pro";
    font-size: 16px;
    color: #ffcc00;
    user-select: none;
    display: inline-block;
    margin-right: 0;
    margin-left: 64%;
}
#forgotPass:hover {
    text-decoration: underline;
    cursor: pointer;
}
.recentAccountLabel {
    margin-top: 0;
    font-family: "Myriad Pro";
    font-size: 14px;
    color: white;
    text-align: left;
    margin-bottom: 8px;
}
hr {
    background-color: white;
    border: none;
    height: 1px;
    width: 60%;
}
table {
    width: 100%;
    color: white;
    font-family: "Myriad Pro";
    border-spacing: 0;
}
thead {
    display: table;
    table-layout: fixed;
    width: calc( 100% - 1em );
}
tbody {
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    width: 100%;
}
tbody::-webkit-scrollbar {
    width: 9px;
    background: white;
    border-radius: 5px;
}
tbody::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    margin-left: 1px;
    border: 1px solid white;
    border-radius: 5px;
}
tr.recentAccount {
    cursor: pointer;
    display: table;
    width: 100%;
    table-layout: fixed;
}
tr.recentAccount:hover {
    background-color: rgba(255,255,255,.4);
    color: black;
}
th {
    padding: 5px 0;
}
td {
    padding: 3px 0;
}
#recentAccountContextMenu {
    position: absolute;
    z-index: 5;
    background-color: white;
    /*width: 150px;*/
    top: 0;
    left: 0;
    /*height: 10px;*/
}
#recentAccountContextMenu ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}
#recentAccountContextMenu ul li {
    padding: 4px 25px 3px 10px;
    /*border: 1px solid #123456;*/
    user-select: none;
    font-family: "Myriad Pro";
}
#recentAccountContextMenu ul li:hover {
    background-color: #dadada;
}
.text-danger{
    color:rgba(220,53,69, 1)
}
.credit {
    position: absolute;
    bottom: 59px;
    right: 74px;
    color: white;
}
#updateNow {
    cursor: pointer;
}
#deleteCacheBtnWrapper {
    bottom: 37px;
    position: absolute;
    left: 572px;
    z-index: 3;
}
#deleteCache {
    padding: 5px 10px;
    background-color: #726c6c;
    color: white;
    font-size: large;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
