body {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainContent {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
#topbarWrapper {
    width: 100%;
    height: 46px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-app-region: drag;
}
#bodyWrapper {
    width: 100%;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0 3px;
    box-sizing: border-box;
}
#bodyWrapper .gameWrapper {
    width: 100%;
    flex: 1;
}
#gameContent {
    user-select: none;
    z-index: 2;
    width: 100%;
    height: 100%;
}
#closeBtnWrapper {
    position: absolute;
    right: 4px;
    top: 9px;
    width: 33px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    z-index: 2;
    user-select: none;
    -webkit-app-region: none;
}
#closeBtnCanvas {
    width: 22px;
    height: 23px;
}
#minimizeBtnWrapper {
    position: absolute;
    top: 9px;
    right: 37px;
    width: 33px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3px;
    box-sizing: border-box;
    transition: all 300ms;
    z-index: 2;
    user-select: none;
    -webkit-app-region: none;
}
#minimizeBtnCanvas {
    width: 26px;
    height: 7px;
}
#closeBtnWrapper:hover, #minimizeBtnWrapper:hover {
    background-color: #aea9f4;
    transition: background 300ms;
}
#barIconCanvas {
    z-index: 2;
    user-select: none;
    -webkit-app-region: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 33px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3px;
    box-sizing: border-box;
    transition: all 300ms;
}
#speakerIconCanvas {
    z-index: 2;
    user-select: none;
    -webkit-app-region: none;
    position: absolute;
    top: 10px;
    right: 75px;
    width: 33px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3px;
    box-sizing: border-box;
    transition: all 300ms;
}
#rulerbar {
    height: 30px;
    display: block;
}
#contextmenu {
    z-index: 3;
    user-select: none;
    -webkit-app-region: none;
    position: absolute;
    top: 10px;
    left: 62px;
    width: 210px;
    display: none;
    opacity: 0;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    transition: all 300ms;
    background-color: #ffffff;
    border: 2px solid #0980fb;
}
#contextmenu:before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #0980fb;
    position: absolute;
    top: 0px;
    left: -22px;
}
#contextmenu:after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    position: absolute;
    top: 0px;
    left: -20px;
}
#contextmenu.show {
    display: block;
    opacity: 1;
}
#contextmenu > ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
#contextmenu > ul li {
    font-family: "Myriad Pro";
    font-size: 16px;
    color: black;
    padding: 10px 10px 7px 15px;
    display: flex;
    background-color: white;
}
#contextmenu > ul li:not(.divider):hover {
    background-color: #e1932e;
    color: white;
    fill: white;
}
#contextmenu > ul li span {
    margin-right: 5px;
    display: inline-block;
}
#contextmenu > ul li svg {
    width: 15px;
}
#contextmenu > ul li.hasChildren {
    position: relative;
}
#contextmenu > ul li.hasChildren:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
    right: 0;
    top: 10px;
}
#contextmenu > ul li.hasChildren ul {
    display: none;
    padding-left: 0;
    position: absolute;
    left: 100%;
    list-style: bengali;
    top: 0;
    width: 210px;
}
#contextmenu > ul li.hasChildren ul li {
    padding: 11px 10px 8px 15px;
}
#contextmenu > ul li.hasChildren:hover ul {
    display: block;
}
#contextmenu > ul li.hasChildren:hover:after {
    border-left-color: white;
}
#contextmenu > ul li.divider {
    padding: 0;
    height: 1px;
    background-color: #909090;
    width: 95%;
    margin: auto;
}
.menu-text {
    position: absolute;
    top: 5px;
    left: 51px;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    color: #0a047a;
    -webkit-app-region: none;
    cursor: pointer;
    user-select: none;
}
.text-title {
    width: 300px;
    margin: auto;
    height: 100%;
    text-align: center;
    font-size: 23px;
    padding: 6px 0;
    box-sizing: border-box;
}
